{{ define "main" }}

<section class="page-title bg-1" style="background-image: url('/images/IMG_3869.jpg'); background-position: 50% -100px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 style="font-weight: bold">Routes</h1>
          <p>this is meta description</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center">
        <img src="/images/route.png" >
      </div>
      <div class="col-md-4">
        <h2>Deep Ellum / Mural Route</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim, accusantium repellat ex autem numquam iure officiis facere vitae itaque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem, ea fuga est velit nulla culpa modi quis iste tempora non, suscipit repellendus labore voluptatem dicta amet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, neque!</p>
       
        
      </div>
    </div>
    
  </div>
</section>


{{ end }}