{{ define "main" }}

<style>
  .page-title {
    padding-top:125px;
    padding-bottom:125px;
  }
</style>

<section class="page-title bg-1" style="background-image: url('/images/IMG_3869.jpg'); background-position: center bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 style="font-weight: bold; -webkit-text-stroke: 1px black;">Routes</h1>
          <!-- <p>this is meta description</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center" style="margin-bottom:20px">
        <img src="/images/route.png" >
      </div>
      <div class="col-md-5">
        <h2 style="margin-top:0">Deep Ellum & Fair Park Mural Ride</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim, accusantium repellat ex autem numquam iure officiis facere vitae itaque.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem, ea fuga est velit nulla culpa modi quis iste tempora non, suscipit repellendus labore voluptatem dicta amet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, neque!</p>
       
        
      </div>
    </div>
    
  </div>
</section>


{{ end }}